.row>*
	padding-left: 0
	padding-right: 0
	display: flex

.l_col
	background-color: $blue
	padding: 60px 8%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.r_col
	background-color: #ffff
	padding: 60px 10%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.photo
	width: 19vw
	height: 19vw

.round
	width: 100%
	height: 100%
	border-radius: 50%

.header
	display: block
	width: 100%
	font-weight: 300
	font-size: 48px
	line-height: 60px
	text-align: center
	color: #000000
	text-transform: uppercase
	margin: 0 auto
	overflow: hidden
	&:before
		display: inline-block
		box-sizing: border-box
		content: ''
		vertical-align: middle
		width: 100%
		height: 2px
		background-color: #000000
		margin-right: 5%
		margin-left: -100%
	&:after
		display: inline-block
		box-sizing: border-box
		content: ''
		vertical-align: middle
		width: 100%
		height: 2px
		background-color: #000000
		margin-left: 5%
		margin-right: -100%
		
.skills
	margin-top: 50px
	&_descr
		margin-top: 10px
		font-weight: 300
		font-size: 24px
		line-height: 35px
		text-align: justify
		color: #000000
		span
			font-weight: 400
	&_files
		margin-top: 40px
		display: flex
		justify-content: space-between
		align-items: center
		&_item
			width: 25%
.contacts
	margin-top: 50px
	width: 100%
	&_list
		display: flex
		flex-direction: column
		align-items: center
		width: 100%
		&_item
			margin-top: 20px
			display: flex
			justify-content: flex-start
			align-items: center
			width: 100%
			img
				width: 10%
			.cont_descr
				display: block
				width: 20vw
				margin-left: 10%
				font-weight: 400
				font-size: 24px
				line-height: 30px
				color: #000000
				text-decoration: none
				word-wrap: break-word

.name
	font-weight: 300
	font-size: 64px
	line-height: 80px
	text-align: center
	span
		font-weight: 500

.intern
	margin-top: 18px
	background-color: $orange
	width: 400px
	height: 36px
	font-weight: 500
	font-size: 24px
	line-height: 30px
	display: flex
	align-items: center
	justify-content: center
	letter-spacing: -0.065em
	color: #FFFFFF

.profile
	margin-top: 50px

.descr
	margin-top: 8px
	font-weight: 300
	font-size: 24px
	line-height: 40px
	text-align: justify
	color: #000000

.education
	margin-top: 50px
	width: 100%
	&_descr
		margin-top: 8px
		display: flex
		&_item
			display: flex
			flex-direction: column
			.fst
				margin-top: 10px
				font-weight: 300
				font-size: 24px
				line-height: 40px
				text-align: justify
				color: #000000
			.scnd
				margin-top: 10px
				margin-left: 20%
				font-weight: 300
				font-size: 24px
				line-height: 40px
				text-align: justify
				color: #000000
.why
	margin-top: 50px

